body {
    background-color:rgb(55, 55, 232);
}

/* div {
    border: 1px solid black;
} */

#header{
    height: 60px;
    /* background-color:rgb(55, 55, 232); */
    color: whitesmoke;
    border: 1px solid white;
}

#header-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 1000px;
}

#title{
    /* margin-left: 20px; */
    /* margin-top: 10px; */
    font-size: 3em;
}

#head{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5px; */
}

#time-box{
    margin-right: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leaderboard{
    margin-right: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border: rgb(55, 55, 232);
}

#leaderboard:hover{
    cursor: pointer;
    border: 1px solid white;
    
}

#menu{
    margin-right: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border:rgb(55, 55, 232);
}

#menu:hover{
    cursor: pointer;
    border: 1px solid white;
    
}

.photo-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 0px;
    border: 1px solid black;
}

.photo{
    width: 100%;
}

.waldo-beach{
    position: absolute;
    border: none;
    margin-top: -95px;
    margin-left: 237px;
    width: 15px;
    height: 35px;
}

.found{
    border: 3px solid red;
}


