body {
    background-color:rgb(55, 55, 232);
}

#header{
    height: 80px;
    background-color:rgb(55, 55, 232);
    color: whitesmoke;
    font-size: 2em;
    /* change font */
    border: 1px solid white;
}

#title{
    margin-left: 250px;
    margin-top: 40px;
    border: solid 1px black;
}

.photo-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 0px;
    border: 1px solid black;
}

.photo{
    width: 100%;
}