body {
    background-color:rgb(55, 55, 232);
}

#header{
    height: 60px;
    color: whitesmoke;
}

#header-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 1000px;
}

#title{
    font-size: 3em;
}

#head{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#time-box{
    margin-right: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leaderboard{
    margin-right: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border: rgb(55, 55, 232);
    margin-left: 2px;
}

#leaderboard:hover{
    cursor: pointer;
    border: 1px solid white;
    margin-left: 0px;
}

#menu{
    margin-right: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border:rgb(55, 55, 232);
    margin-left: 2px;
}

#menu:hover{
    cursor: pointer;
    border: 1px solid white;
    margin-left: 0px;
}

.photo-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 0px;
    border: 1px solid black;
}

.photo{
    width: 100%;
}

.waldo-beach{
    position: absolute;
    border: none;
    margin-top: -95px;
    margin-left: 237px;
    width: 15px;
    height: 35px;
}

.waldo-park{
    position: absolute;
    border: none;
    margin-top: 27px;
    margin-left: 476px;
    width: 19px;
    height: 25px;
}

.waldo-store{
    position: absolute;
    border: none;
    margin-top: -373px;
    margin-left: -155px;
    width: 22px;
    height: 33px;
}

.waldo-castle{
    position: absolute;
    border: none;
    margin-top: 493px;
    margin-left: -872px;
    width: 22px;
    height: 40px;
}

.waldo-gold{
    position: absolute;
    border: none;
    margin-top: -126px;
    margin-left: -620px;
    width: 17px;
    height: 38px;
}

.found{
    border: 3px solid red;
}

/* Leader Modal */
.modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content{
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    padding: 30px;
    padding-top: 0px;
    border: 1px solid #888;
    width: 400px;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 40px;
  }

  .close{
    color: #aaa;
    float: right;
    margin-left: 100%;
    font-size: 28px;
    height: 10px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.leader-container{
    text-align: center;
    font-size: 1.6em;
}

#leaderboard-title{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 90%;
}

.leader-list-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.leader-list{
    width: 200px;
    font-size: 80%;
}

.item-cont{
    display: flex;
}

.list-time{
    margin-left: auto;
    margin-right: 0px;
}


#submit-title{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1.6em;
}

#time-title{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.4em;
    margin-top: 10px;
}

#input{
    font-size: 1em;
}

#submit-time{
    border: 1px solid black;
    text-align: center;
    margin-top: 15px;
    margin-top: 10px;
    width: 100px;
    font-size: 1em;
}

#submit-time:hover{
    cursor: pointer;
}

#start-title{
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 1000px;
    font-size: 2em;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.start-button{
    display: flex;
    background-color: #fefefe;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.start-button:hover{
    cursor: pointer;
}

/* Code for menu */
  #menu-content{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    padding: 30px;
    padding-top: 0px;
    width: 600px;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 40px;
  }

  #top-row{
      display: flex;
      color: white;
  }

  #menu-title{
    font-size: 3em;
}

#menu-head{
    height: 50px;
    margin-left: 10px;;
    margin-right: auto;
}

#row-two{
    color: white;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#all-cards{
    display: flex;
    width: 100vw;
    min-width: 1300px;
    margin-top: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    color: white;
    font-size: 1.7em;
    width: 250px;
}

.card-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn{
    font-size: 70%;
    text-align: center;
}

.card-play{
    width: 40px;
}

.card-scores{
    width: 100px;
}

.btn:hover{
    cursor: pointer;
    color: rgb(55, 55, 232);
    background-color: white;

}

.card-image{
    width: 230px;
    border: 1px solid white;
    margin-bottom: 10px;
}
